* {
    margin: 0;
    padding: 0;
}


/* Global Variables */

:root {
    --background-primary: #000000;
    --background-secondary: #1a1a1a;
    --background-transparent: rgba(0,0,0,0.9);
    --primary: #ffffff;
    --secondary: #ff00fe;
    --secondary-shaded: #3a0937;
    --tertiary: #2dee33;   
}

/* Fonts */

@font-face {
    font-family: timesNewRoman;
    src: url(../fonts/timesNewRoman.ttf);
}

/* Animations */

.animation-gameListHeaderFlash {
    animation: gameListHeaderFlash 0.25s linear 0s 1 both;
}


@keyframes gameListHeaderFlash {
    0% {
        background: var(--secondary-shaded);
        color: var(--primary);
    }
    25% {
        background: var(--primary);
    }
    45% {
        background: var(--secondary-shaded);
    }
    70% {
        background: var(--primary);
    }
    100% {
        background: var(--secondary-shaded);
    }
}

.animation-gameListHeaderFade {
    animation: gameListHeaderFade 0.4s linear 0s 1 forwards;
}


@keyframes gameListHeaderFade {
    75% {
        color: rgba(0, 0, 0, 0);
    }
    100% {
        color: rgba(0, 0, 0, 0);
    }
}

/* Header */

#headerBackground {
    display: flex;
    align-items: left;

    width: 100vw;
    height: 50px;

    background-color: var(--background-primary);
    border-bottom: 4px solid var(--primary);
    box-sizing: border-box;
}

#headerContent {
    display: inline-block;

    margin: auto;
    padding: 0 60px;

    line-height: 1.2rem;
    font-size: 1rem;
    color: var(--primary);
    text-align: center;
}

#headerMenuButton {
    position: relative;

    width: 3vw;
    height: 50px;
    padding: auto;

    text-align: center;
    user-select: none;
    line-height: 50px;
    color: var(--primary);
    font-size: 2rem;
    cursor: pointer;
}

#headerMenuButton:hover {
    color: var(--tertiary);
}

#headerMenuContent{
    display: none;

    height: 50px;

    text-align: center;
    user-select: none;
    line-height: 50px;
    color: var(--primary);
    font-size: 2rem;

    > * {
        display: inline;

        margin-left: 0.25rem;
        margin-right: 0.5rem;

        cursor: pointer;
    }

    > *:hover {
        color: var(--tertiary);
    }
}

/* "body" */

#pageContent {
    display: flex;
    overflow-x: auto;

    height: calc(100vh - 50px);

    background-image: url(../images/backgrounds/dithered-revachol.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    > * {
		flex: 0 0 auto	
	}  
}

.gameList {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: calc(100vh - 92px);
    margin-left: auto;
    margin-right: 200px;
    margin-top: 16px;
    margin-bottom: 16px;

    background-color: var(--background-primary);

    * {
        box-sizing: border-box;
		flex: 0 0 auto;	
	} 
}

#gameListHeader {
    height: 60px;
    padding-top: 16px;

    font-size: 1.5rem;
    background-color: var(--secondary-shaded);
    border: 4px solid var(--secondary);
    text-align: center;
    color: var(--primary);
    letter-spacing: 0.15rem;
    
}

#gameListContentContainer {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    
    height: calc(100vh - 148px);
    min-height: 400px;
    padding-top: 4px;
    padding-bottom: calc(100vh - 190px); 
    padding-left: 8px;
    padding-right: 8px;

    background-color: var(--background-primary);
    box-sizing: border-box;
    border: 8px double var(--secondary);
    border-top: none;
    border-bottom: 4px solid var(--secondary); 
    scrollbar-color: var(--background-primary) var(--background-primary);
    scrollbar-width: thin;
    
}

.gameListing {
    height: 80px;

    background-color: var(--tertiary);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 4px solid var(--background-primary);

    text-align: center;
    padding: 20px;
    cursor: pointer;

    transition: height 0.8s, background-color 0.4s;
}

.gameListing:hover {
    height: 100px;

    background-color: var(--primary);

    transition: height 0.4s, background-color 0.2s;
}

#disco\ ElysiumListing {
    background-image: url(../images/gameBanners/discoElysium.png);
    background-size: 80%;
}

#splatoonListing {
    background-image: url(../images/gameBanners/splatoon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#regretevatorListing {
    background-image: url(../images/gameBanners/regretevator.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

#bomblineListing {
    background-image: url(../images/gameBanners/bombline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.gameDetails {
    display: flexbox;
    overflow-y: auto;
    overflow-x: hidden;

    width: 900px;
    height: calc(100% - 40px);
    min-height: 400px;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 1rem;

    background: var(--background-transparent);
    border: 8px solid var(--primary);
    border-radius: 8px;
    box-sizing: border-box;
    scrollbar-color: var(--background) var(--background-primary);
    
    > * {
        color: var(--primary);
        display: none;
    }
}

#discoElysiumVideo {
    border: 8px ridge #ffffff;
    box-sizing: border-box;
}

#splatoonDetails {
    overflow: hidden;
    
    height: auto;

    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.4rem;

    transition: height 10s;
}

/* Page-wide */

body {
    margin: 0px;
    
    font-family: timesNewRoman;
    background-color: var(--background-primary);
}

td {
    padding: 0.4rem;
    border-top: 2px solid #ffffff;
    font-size: 1.1rem;
    width: 120px;
}
