
/* Header */

#headerBackground {
    display: flex;

    width: 100vw;
    height: 50px;

    background-color: black; 
}

#headerContent {
    display: inline-block;

    margin: auto;

    color: white;
    text-align: center;
}

/* "body" */

#pageContent {
    display: flex;
    overflow-x: auto;

    height: calc(100vh - 50px);
    
    > * {
		flex: 0 0 auto	
	}  
}

.gameList {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: 100%;
    margin-left: auto;
    margin-right: 200px;

    background-color: green;

    * {
        box-sizing: border-box;
		flex: 0 0 auto;	
	} 
}

#gameListHeader {
    height: 60px;

    background-color: aqua;
    border-bottom: 2px solid black;
}

#gameListContentContainer {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    
    height: calc(100vh - 110px);
    padding-bottom: calc(100vh - 190px);
    
    background-color: black;
}

.gameListItem {
    height: 80px;

    background-color: yellow;
    border-bottom: 2px solid black;
}

.gameDetails {
    width: 900px;
    height: 100%;
    margin-right: auto;

    background-color: blue;
}

/* Page-wide */

body {
    margin: 0px;

    background-color: gray;
}
